
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
}

.navbar{
    background-color: #19232e;
    position: fixed;

    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    flex-wrap: wrap;
}

.navbar-brand-container{
    display: flex;
    align-items: center;
}

.logo{
    width: 45px;
    height: auto;
    margin-right: 15px;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #ecf0f1;
}

.navbar-links{
    list-style-type: none;
    display: flex;
}

.navbar-links li{
    padding: 0 10px;
}

.navbar-links a{
    color: #ecf0f1;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 4px;

    transition: backround-color 0.3s, box-shadow 0.3s, transform 0.2s;
    font-weight: 500;
}

.navbar-links a:hover{
    background-color: #f39c12;
    box-shadow: 0 0 15px rgba(243, 1566, 18, 0.7);
    transform: translate(-2px);
}


#header-span{
    font-size: 2.5em;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    transition: all 0.3s ease-in-out;
}

#header-span:hover{
    color: #e74c3c;
    text-shadow: 0 0 10px #e74c3c, 0  0 30px #e74c3c;
}

.input-box, .content-box{
    background-color: #34495e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 95%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.input-field input[type="text"] {
    padding: 12px;
    border: 2px solid #3498db;
    border-radius: 4px;
    background-color: 2c3e50;
    color: #ecf0f1;
    font-size: 1em;
    width: 100%;

}
.input-field input[type="text"]:focus{
    outline: none;
    border-color: e74c33c;
}
#image-upload, #video-upload{
    display: none;
}
.custom-file-upload{
    display: inline-block;
    padding: 12px 25px;
    cursor: pointer;
    background-color: #2ecc71;
    color: white;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.2s ease-out, transform 0.2s ease-out, box-shadow 0.2s ease-out;
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.2); 
}
.custom-file-upload:hover{
    background-color: #27ae60;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
.filter-section{
    border: 1px solid #5d6d7e;
    padding: 15px;
    border-radius: 5px;
    background-color: #2c3e50;
}
.filter-section p{
    margin: 0 0 5px 0;
    color: #f39c12;
    font-weight: bold;
}
.checkbox-group label{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.checkbox-group input[type="checkbox"]{
    margin-right: 10px;
}
.submit-button{
    padding: 15px 30px;
    background-color: #f39c12;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: all 0.2s ease-out;
    display: inline-block;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
.submit-button:hover{
    background-color: #e67e22;
    transform: translateY(-2px);
}

@media(max-width: 768px){
    body{
        padding-top: 120px;
    }

    .navbar{
        justify-content: center;
    }
    .navbar-brand-container{
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    #header-span{
        font-size: 2em;
    }

}
@media(max-width:480px){
    body{
        padding: 90px 10px 10px 10px;
    }
    .navbar-links{
        justify-content: center;
        width: 100%;
    }
    .navbar-links li{
        padding: 0 5px;
    }
    #header-span{
        font-size: 1.8em;
        margin-bottom: 20px;
    }
    .input-box, .content-box{
        padding:20px;
    }
}

